.gallery {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff6b0a;
    color: #fff;
    padding: 2px 6px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
  }


  .gallery .photo-card {
width: 600px;
height: 500px;
  }

  .gallery img {
    width: 500px;
    height: 300px;
      }