.gallery {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff6b0a;
    color: #fff;
    padding: 2px 6px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
  }


  .gallery .photo-card {
width: 550px;
height: 500px;
border-radius: 10px;
transition: all .3s;
  }

  .gallery-item {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
  }

  .gallery__link:hover, .gallery__link:focus {
    transform: scale(1.05);
  }

  .gallery img {
    width: 500px;
    height: 300px;
      }



      .gallery a {
        text-decoration: none;
       }
       
      .gallery p {
        color: black;
       }