.gallery {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff6b0a;
    color: #8591ff;
    padding: 2px 6px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
  }


  .gallery .photo-card {
width: 440px;
height: 550px;
border-radius: 17px;
transition: all .3s;
background-color: #adfff7;
// padding-right: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
  }

  .gallery-item {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
  }

  .photo-card:hover, .photo-card:focus {
    transform: scale(1.05);
  }

  .gallery img {
    max-width: 430px;
    max-height: 300px;
      }



      .gallery a {
        text-decoration: none;
       }
       
      .gallery p {
        color: black;
       }